<ion-modal-view id="terms-modal">
  <ion-header-bar class="modal-header">
    <h1 class="title">Terms and Conditions</h1>
    <button class="modal-exit" ng-show="hideContinue" ng-click="goBack()">
      <i class="ion-ios-close-empty back"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="wrapper content">
      <span class="term-title">OFFSHORE SHARING SOLUTIONS LIMITED</span>
      <span class="term-title">USER AGREEMENT</span>
      <p><strong>OFFSHORE SHARING SOLUTIONS LIMITED</strong> a company incorporated under the Companies Act Ch. 81:01 of the laws of Trinidad and Tobago and having its registered office situate at 10A3 The Meadows, Dibe Road Off Long Circular Road, Maraval, Trinidad (‘<strong>OSS</strong>’).</p>

<p>The User and OSS may be referred to collectively as the ‘Parties’ or individually as a ‘Party’.</p>

<p>WHEREAS</p>

<p>(A)               OSS through its online application the OSS App (as defined below) provides a platform for operators and service providers in the energy industry to offer and acquire goods and services; and</p>

<p>(B)               The User desires to use the OSS App pursuant to the terms and conditions of this Agreement.</p>

<p>NOW IT IS HEREBY AGREED as follows:-</p>

<p><strong>1.                  Definitions and Interpretation</strong></p>

<p>1.1              <u>Definitions</u></p>

<p>In this Agreement, where the context admits:</p>

<p>“<strong>Data</strong>” means any information, document, correspondence, memorandum, contract, agreement, pictorial, graphic work, plan, map, drawing, microfilm, machine readable record and any other documentary material regardless of form or characteristics and any copy of those things.</p>

<p>“<strong>Guidelines</strong>” means the rules for the use of the OSS App developed and notified to the User by OSS from time to time.</p>

<p>“<strong>Intellectual Property Rights</strong>” means patent, copyright, trademark, service mark, registered and unregistered design rights and other rights.</p>

<p>“<strong>OSS App</strong>” means the program operated by OSS and made available to the User pursuant to and in accordance with the terms and conditions of this Agreement.</p>

<p>“<strong>User Representative</strong>” is the individual or individuals designated to access and utilize the OSS App on behalf of the User and whose appointment shall be made in accordance with Clause 5.</p>

<p>“<strong>User Intellectual Property Rights</strong>” means Intellectual Property Rights owned by or licensed to the User.</p>

<p>1.2              <u>Interpretation</u></p>

<p>In this Agreement:</p>

<p class="indent-item">1.2.1          Reference to any statute, statutory provision or statutory instrument includes a reference to that statute, statutory provision or statutory instrument as from time to time amended, extended or re-enacted.</p>

<p class="indent-item">1.2.2          Reference to the singular includes the plural and vice versa.</p>

<p class="indent-item">1.2.3          Reference to any gender includes a reference to all other genders.</p>

<p class="indent-item">1.2.4          Unless the context otherwise requires, reference to any clause is to a clause of this Agreement.</p>

<p class="indent-item">1.2.5          Reference to "include" means "including but not limited to".</p>

<p class="indent-item">1.2.6          The headings are used for convenience only and shall not affect the construction or validity of this Agreement.</p>

<p><strong>2.                 Use of the OSS App</strong></p>

<p>2.1              OSS hereby grants the User a non-exclusive right and licence to use the OSS App in accordance with the terms and conditions of this Agreement and the Guidelines developed and issued by OSS from time to time.</p>

<p>2.2              The OSS App will allow the User to contract for goods and services with other users of the OSS App provided always that any such contract shall be between the User and another user of the OSS App and OSS shall not be a party to or be in any way bound by the terms of any such contract.</p>

<p><strong>3.                 Duration</strong></p>

<p>3.1              OSS shall have the right in its sole discretion to suspend or discontinue any part or all of the OSS App for any reason whatsoever.</p>

<p>3.2              OSS shall have the right in its sole discretion to terminate this Agreement or suspend the User’s right and licence to access and utilize the OSS App at any time by notice to the User.</p>

<p>3.3              Subject to Clause 10.2, the User may terminate this Agreement at any time by notice to OSS.</p>

<p><strong>4.                 Fees and invoicing</strong></p>

<p>4.1              The fees payable by the User for the use of the OSS App and the invoicing and payment obligations shall be as follows and may be amended from time to time:</p>

<p>4.1.1          Subscription Fees - $1,500 USD per annum</p>

<p>4.1.2          Transaction Fees – 5% of total value traded.</p>

<p><strong>5.                 User Representative</strong></p>

<p>5.1              The User shall appoint User Representative(s) with full authority to represent and bind the User in all matters concerning the use of the OSS App and the User shall notify OSS of such User Representative(s) within three (3) days of the date of this Agreement.</p>

<p>5.2              The User may by notice to OSS add any person as a User Representative or replace or remove any person as a User Representative.</p>

<p><strong>6.                 Representations and warranties</strong></p>

<p>6.1              The User hereby represents to OSS that:</p>

<p>6.1.1          the User is a solvent company duly incorporated and validly existing under the laws of its incorporation;</p>

<p>6.1.2          the User has full power and authority to execute and comply with the provisions of this Agreement;</p>

<p>6.1.3          the User has the right title and interest to sell or transfer any goods offered by it for sale using the OSS App; and</p>

<p>6.1.4          the User has all permissions, waivers or licences in respect of Intellectual Property Rights as may be necessary to allow the User to utilize the OSS App in accordance with the terms of this Agreement and the Guidelines.</p>

<p><strong>7.                 Limitation of liability and indemnity</strong></p>

<p>7.1              The User agrees to use the OSS App and agrees that all content on the OSS App is provided on an “as is”, “as available” basis without any representations, guarantees or warranties expressed or implied as to their value, quality, merchantability or suitability or fitness for the User’s intended use or for any use or purpose whatsoever.</p>

<p>7.2              The User’s utilization of the OSS App is at its own risk and discretion. OSS is not a party to any transaction between the User and any other user of the OSS App and OSS does not guaranty nor shall it incur any liability for any payment or other obligation between the User and any other User of the OSS App. OSS makes no representations, endorsements, or warranties of any kind whatsoever, either express or implied and expressly disclaims all warranties of any kind with respect to the OSS App and any goods or services available on or through the OSS App, whether express or implied, including but not limited to any warranties of title, accuracy, completeness, suitability, reliability, and any implied warranties of merchantability, fitness for a particular purpose or freedom from computer virus.</p>

<p>7.3              While OSS will use reasonable efforts to ensure that the following conditions exist, OSS makes no warranty that:</p>

<p class="indent-item">7.3.1          the OSS App will meet the User’s requirements;</p>

<p class="indent-item">7.3.2          the OSS App will be uninterrupted, timely, secure or free of viruses, errors, worms, date bombs, time bombs or other harmful components;</p>

<p class="indent-item">7.3.3          the results that may be obtained from the use of the OSS APP will be accurate and reliable;</p>

<p class="indent-item">7.3.4          the quality of any goods, services, information or other material purchased or obtained by the User through the OSS App will meet the User’s expectations;</p>

<p class="indent-item">7.3.5          any errors on the OSS App will be corrected; and</p>

<p class="indent-item">7.3.6          the data and materials presented or displayed on the OSS App are correct, accurate or reliable;</p>

<p>7.4              The OSS App may contain links to other websites on the internet. All sites which may be accessed through the OSS App are independent and are maintained by persons other than OSS. OSS has no control over the contents of these linked sites or any other sites to which such sites may link. OSS may not have reviewed all of the sites linked to any such third party sites and is not responsible for the contents of any other sites linked to the OSS App. The User’s linking to any other sites is at the User’s own risk.</p>

<p>7.5              Neither OSS nor any affiliate or their respective directors, officers, or employees shall be liable for any direct, indirect, special, punitive, consequential or other damages of any kind (including without limitation loss of contract, business opportunity, revenue, production or profit) arising out of the User’s access to or use of the OSS App, whether under contract, tort or any other theory of liability, arising in connection with any use of the OSS App or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, difficulty of use, inaccuracy of information, computer viruses, malicious code, other defects or from any cause whatsoever including but not limited to the negligence or breach of duty of OSS.</p>

<p>7.6              The User shall be liable for, indemnify, defend and hold harmless OSS and its affiliates and their respective directors, officers and employees against any and all claims including legal fees made by any third party due to or arising out of the use of the OSS App.</p>

<p><strong>8.                 Intellectual Property Rights</strong></p>

<p>8.1              Any User Intellectual Property Rights are and shall remain the property of the User. The User hereby grants to OSS an irrevocable, perpetual, royalty-free, non-exclusive license to use and to copy and reproduce for use by it of the User Intellectual Property Rights in the User’s logo, and/or symbol and/or brand name to the extent that it is used within the OSS App for the purpose of identifying the User.</p>

<p>8.2              All Data used, processed, recorded or generated by the OSS APP and all rights, title benefit and interest in and to such shall belong to OSS.</p>

<p><strong>9.                 Assignment</strong></p>

<p>9.1              The User shall neither directly nor indirectly assign, encumber nor transfer this Agreement or any interest therein without the prior written consent of the OSS.</p>

<p>9.2              OSS may at its sole discretion from time to time assign encumber or transfer this Agreement or any interest therein without the prior written consent of the User.</p>

<p><strong>10.               Notices</strong></p>

<p>10.1           All notices, requests, and other communications required or desired to be delivered to any party pursuant to this Agreement shall be in writing and shall be deemed to be properly given by hand, by registered mail, e-mail or by facsimile as follows:</p>

<p>If to OSS as follows:</p>

10A3 The Meadows,<br />
Dibe Road Off Long Circular Road<br />
Maraval<br />
Attention: Chief Executive Officer<br />
E-mail: r.leeyoung@offshoresharing.com<br />

<p>If to the User as follows:</p>

E-mail: [same used in registration] <br />

<p>10.2           Any Party may change the details set forth above to which notices are to be given by giving reasonable written notice thereof to the other Party as hereinabove provided.  Notices shall be effective on the date of receipt.</p>

<p><strong>11.               Miscellaneous</strong></p>

<p>11.1           This Agreement is the complete and exclusive statement of the agreement of the Parties with respect to the subject matter hereof and supersedes and merges all prior pro­posals, understandings, and agreements, whether oral or written, be­tween the parties with respect to the subject matter hereof.</p>

<p>11.2           The termination of this Agreement, howsoever occasioned, shall be without prejudice to the rights and remedies of the Parties up to and including the date of such termination and shall not affect or prejudice any term of the Agreement that is expressly or by implication provided to come into effect on or continue in effect after such termination.</p>

<p>11.3           This Agreement is confidential to the Parties and they shall keep confidential all information regarding the subject matter of this Agreement and will make no announcement about this Agreement without the written consent of the other Party.</p>

<p>11.4           All of the terms, provisions, and conditions of this Agreement shall be binding upon and inure to the benefit of the Parties hereto and their respective successors, and assigns.</p>

<p>11.5           If any part of this Agreement shall be ad­judged by any court of competent jurisdiction to be invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions shall not be affected or impaired thereby and shall be enforced to the maximum extent permitted by applicable law. If any remedy set forth in this Agreement is determined to have failed of its essential purpose, then all other provisions of this Agreement shall remain in full force and effect.</p>

<p>11.6           This Agreement may be executed in any number of counterparts, each of which shall be deemed an original as against any Party whose signature appears thereon, and all of which shall together constitute one and the same instrument. This Agreement shall be binding when one or more counterparts hereof, individually or taken together, shall bear the signatures of all of the Parties reflected on this Agreement as signatories.</p>

<p>11.7           This Agreement shall not be amended, modified, varied or supplemented except by an instrument in writing signed by both parties.</p>

<p><strong>12.               Governing law and dispute resolution</strong></p>

<p>12.1           This Agreement shall be governed by, subject to and construed and interpreted in accordance with the laws of the Republic of Trinidad and Tobago.</p>

<p>12.2           The courts of Trinidad and Tobago shall have jurisdiction to hear and determine any suit action or proceeding, and to settle any disputes, which may arise out of or in connection with this Agreement and for such purposes the Parties hereby irrevocably submit to the jurisdiction of such courts. </p>

      <button ng-click="continue()" ng-hide="hideContinue" class="button button-full button-assertive">Accept &amp; Continue</button>
      <div style="height:30px"></div>
    </div>
  </ion-content>
</ion-modal-view>
